In [ ]:
# Part 1
## 1.1
df_customer = spark.read.csv('/FileStore/tables/customer.csv', header=True, inferSchema =True)
df_order = spark.read.csv('/FileStore/tables/order.csv', header=True, inferSchema =True)
df_customer.createOrReplaceTempView('Customer_table')
df_order.createOrReplaceTempView('Order_table')

In [ ]:
## 1.2
spark.sql("select FIRSTNAME as FirstName, LASTNAME as LastName, CITY as City, COUNTRY as Country from Customer_table order by COUNTRY, CITY").show()

+----------+------------+-------------------+-------+
| FirstName|    LastName|               City|Country|
+----------+------------+-------------------+-------+
|       Ann|       Devon|            Burnie |     AU|
|    Thomas|       Hardy|         Iron Knob |     AU|
|     Diego|        Roel|          Kingston |     AU|
| Alejandra|      Camino|       Leigh Creek |     AU|
|    Isabel|   de Castro|          Narrabri |     AU|
|     Simon|    Crowther|           Northam |     AU|
|     Karin|     Josephs|            Orange |     AU|
|    Yvonne|     Moncada|              Yass |     AU|
|      Paul|     Henriot|      Chatham-Kent |     CA|
| Alexander|       Feuer|         Etobicoke |     CA|
|      Jos�|Pedro Freyre|           Kelowna |     CA|
|     Jaime|      Yorres|        Lethbridge |     CA|
|   Pascale|    Cartrain|            Oshawa |     CA|
|     Palle|       Ibsen| Sarnia-Clearwater |     CA|
|    Daniel|      Tonini|Temiskaming Shores |     CA|
|Fr�d�rique|     Citeaux|        Altrincham |     UK|
|   Martine|       Ranc�|             Attle |     UK|
|  Victoria|    Ashworth|          Bradford |     UK|
|      Hari|       Kumar|       Bridlington |     UK|
|   Anabela|   Domingues|     Bude-Stratton |     UK|
+----------+------------+-------------------+-------+
only showing top 20 rows

In [ ]:
## 1.3
spark.sql("select distinct(CITY) as City from Customer_table where COUNTRY =\"AU\"").show()

+------------+
|        City|
+------------+
|   Narrabri |
|   Kingston |
|       Yass |
|  Iron Knob |
|     Burnie |
|     Orange |
|Leigh Creek |
|    Northam |
+------------+

In [ ]:
## 1.4
spark.sql("select COUNTRY as Country, count(CUST_ID) as Number from Customer_table group by COUNTRY HAVING Number > 10").show()

+-------+------+
|Country|Number|
+-------+------+
|     US|    46|
|     UK|    30|
+-------+------+

In [ ]:
## 1.5
spark.sql("select count(COUNTRY) as count from Customer_table where COUNTRY != \"CA\"").show()

+-----+
|count|
+-----+
|   84|
+-----+

In [ ]:
## 1.6
spark.sql("select FIRSTNAME as FirstName, LASTNAME as LastName from Customer_table JOIN Order_table on Customer_table.CUST_ID = Order_table.CUST_ID where TOTALAMOUNT > 15000").show()

+---------+---------+
|FirstName| LastName|
+---------+---------+
|     Jose|Pavarotti|
+---------+---------+

In [ ]:
## 1.7
spark.sql("select ORDERNUMBER as OrderNumber, TOTALAMOUNT as TotalAmount, FIRSTNAME as FirstName, LASTNAME as LastName, CITY as City, COUNTRY as City from Customer_table JOIN Order_table on Customer_table.CUST_ID = Order_table.CUST_ID").show()

+-----------+-----------+----------+---------+----------------+----+
|OrderNumber|TotalAmount| FirstName| LastName|            City|City|
+-----------+-----------+----------+---------+----------------+----+
|     542378|      440.0|      Paul|  Henriot|   Chatham-Kent |  CA|
|     542379|     1863.4|     Karin|  Josephs|         Orange |  AU|
|     542380|     1813.0|     Mario|   Pontes|       Carlsbad |  US|
|     542381|      670.8|      Mary|  Saveley|        Kinston |  US|
|     542382|     3730.0|   Pascale| Cartrain|         Oshawa |  CA|
|     542383|     1444.8|     Mario|   Pontes|       Carlsbad |  US|
|     542384|      625.2|      Yang|     Wang|     Penwortham |  UK|
|     542385|     2490.5|   Michael|     Holz|       Sandbach |  UK|
|     542386|      517.8|     Paula|  Parente|  Central Falls |  US|
|     542387|     1119.9|    Carlos|Hern�ndez|           Marl |  UK|
|     542388|     2018.6|    Roland|   Mendel|      Lymington |  UK|
|     542389|      100.8| Francisco|    Chang|      Belvidere |  US|
|     542390|     1746.2| Henriette|Pfalzheim|        Windsor |  US|
|     542391|      448.0|  Bernardo|  Batista|     Palm Beach |  US|
|     542392|      624.8|     Paula|   Wilson|Henley-in-Arden |  UK|
|     542393|     2464.8|    Roland|   Mendel|      Lymington |  UK|
|     542394|      724.5|     Maria|  Larsson|        Maghull |  UK|
|     542395|     1176.0|Fr�d�rique|  Citeaux|     Altrincham |  UK|
|     542396|      364.8|    Pirkko|Koskitalo|     Middlebury |  US|
|     542397|     4031.0|     Peter|  Franken|         Oconto |  US|
+-----------+-----------+----------+---------+----------------+----+
only showing top 20 rows